dist/
test/

# Ignore generated/imported GraphQL files
*.graphql
*.graphql-gen.ts

# Ignore generated journey planner types
src/graphql/journey-types.ts
src/graphql/journey/journeyplanner-types_v3.ts
src/graphql/mobility/mobility-types_v2.ts
src/graphql/vehicles/vehicles-types_v1.ts
