{
    "jsxSingleQuote": false,
    "tabWidth": 2,
    "printWidth": 80,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "jsxBracketSameLine": false,
    "proseWrap": "always",
    "useTabs": false,
    "htmlWhitespaceSensitivity": "css",
    "bracketSpacing": true,
    "quoteProps": "as-needed",
    "endOfLine": "lf",
    "arrowParens": "avoid"
}
